.page-card {
    max-width: 1800px;
    margin-left: 30px;
    margin-right: 30px;
    background: white;
    border-radius: 15px;
    /*padding-bottom: 554px; */
    margin-bottom: 26px;
    padding-left: 0px;
    margin-top: 30px;
}

@media screen and (min-width: 1800px) {
    .page-card {
        margin-left: auto;
        margin-right: auto
    }
}

.main-container {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 30px;
}

.navbar {
    margin-left: 0px;
    margin-bottom: 60px;
    max-width: 1320px;
}

.navbar-brand {
    margin-right: 0px;
    padding-left: 0px;
    margin-left: -11px;
}

.logo-container {
    display: flex;
}

.logo-name {
    color: #5a4847;
    font-size: min(20px, calc(50% + 1vw))
}

.navbar-toggler {
    padding-left: 8px;
}

.nav-links {
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

.nav-link {
    color: #5a4847 !important;
    font-size: min(16px, calc(50% + 0.8vw));
    border-radius: 6px;
}

.ctn-1 {
    margin-top: 0px;
    width: auto !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
    /* margin-bottom: 300px; */
    max-width: 1400px;
}

.row {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .row-reverse {
        flex-direction: column-reverse;
    }
}

.col {
    padding-left: 0px;
    padding-right: 0px;
}

.col-right {
    text-align: right;
}

.title-header {
    color: #5a4847;
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: bold;
}

.pg {
    color: #5a4847;
    margin-bottom: 35px;
    font-size: min(16px, calc(50% + 0.8vw))
}

.button-container {
    display: flex;
}

.default-btn {
    border: 2px solid #8350b6;
    border-radius: 6px;
    margin-left: 0px;
    margin-right: 18px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    font-size: min(16px, calc(50% + 0.8vw))
}

.default-btn:hover {
    box-shadow: -8px -8px 15px 5px #c7b4f7;
    transform: translate(3px, 3px);
}

.create-acc-btn {
    background: #8350b6;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.login-btn {
    background: white;
    color: #8350b6;
    padding-right: 30px;
    padding-left: 30px;
}

.sitting-image {
    height: min(95%, calc(95% + 0.8vh));
    width: min(95%, calc(95% + 0.8vw));
}