.register-header {
    min-height: 100vh;
    color: white;
    font-size: 13px;
    font-weight: 100;
    margin-top: 200px;
}

.register-container {
    align-items: center;
    margin: 0 auto
}

@media (min-width: 1000px) {
    .register-form {
        max-width: 800px;
        margin-left: calc(50% - 400px);
        display: block;
    }
}

.input-boxes {
    flex-direction: 'row';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

.input-box-holder {
    padding: 18.5px 14px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.input-box {
    border: 0px;
    outline-width: 0;
    width: 100%;
}

.invalid-creds {
    color: #d50000;
    font-size: 0.75rem;
    font-weight: 100px;
}

.submit-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    padding: 18.5px 14px;
    background: white;
}