.section-container {
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
}

.messaging-container {
    height: inherit
}

.match-container {
    width: 840px;
    margin: 0 auto;
    height: 100%;
}

.pages-container {
    height: 100%
}