/**
 * Page containers
 */
.page-card {
    width: 1200px;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 26px;
    background: white;
    border-radius: 15px;
}

@media screen and (max-width: 1500px) {
    .page-card {
        margin-left: 10%;
        margin-right: 10%;
        width: unset;
    }
}

.main-container {
    padding-bottom: 30px;
}

/*********/


/**
 * Navigation bar
 */
.navbar {
    margin-left: 0px;
    margin-bottom: 60px;
    max-width: 1320px;
    margin-top: 20px
}

.navbar-brand {
    margin-right: 0px;
    padding-left: 0px;
    margin-left: -11px;
}

.navbar-toggler {
    padding-left: 8px;
}

.nav-links {
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

.nav-link {
    position: relative;
    font-size: min(16px, calc(50% + 0.8vw));
    border-radius: 6px;
}


.selected-page {
    position: relative;
    display: block;
    width: 15px;
    background: black;
    height: 2px;
    margin: 0 auto
}


/*********/


/**
 * Stuff inside containers
 */
.ctn-1 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    max-width: 1400px;
    margin: 0px;
}

.col {
    padding: 0px
}

.col-2 {
    margin-left: auto
}

.title-header {
    margin-bottom: 35px;
    font-size: 70px;
    letter-spacing: -3px;
    line-height: 60px
}

.pg {
    color: grey;
    margin-bottom: 35px;
    font-size: 25px
}

.pg-small {
    font-size: 20px;
    color: #a65aec;
    margin-bottom: 5px;
    margin-left: 10px;
}

/*********/


/**
 * Button stuff
 */
.button-container {
    display: flex;
}

.default-btn {
    border: 2px solid #a65aec;
    border-radius: 100px;
    margin-left: 0px;
    margin-right: 18px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    transition: all 0.3s ease 0s;
    font-size: 20px
}

.default-btn:hover {
    box-shadow: -8px -8px 15px 5px #c7b4f7;
    transform: translate(3px, 3px);
}

.default-btn:active {
    box-shadow: none;
    transform: none;
}

.create-acc-btn {
    background: #a65aec;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
}

.login-btn {
    background: white;
    color: #a65aec;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.small-title-header {
    font-family: 'TT Commons Medium';
    font-size: 50px;
    margin-left: 20px
}